DISCORD_TOKEN=ton_token_bot
GUILD_ID=1506012403672940565

BRAND_NAME=Eat Zone -50%
VERIFIED_ROLE_ID=1498108051767558215
WELCOME_CHANNEL_ID=1495966800360509484

TICKET_CATEGORY_ID=1495945701438259382
TICKET_PENDING_CATEGORY_ID=1495945701438259382
TICKET_ACTIVE_CATEGORY_ID=1495945919042945106
PAID_TICKET_CATEGORY_ID=1501323622319521802
SUPPORT_TICKET_CATEGORY_ID=1498079981757268210
TRANSCRIPT_CHANNEL_ID=
REVIEW_CHANNEL_ID=1496869947727675462
LOYAL_CUSTOMER_ROLE_ID=1497210152439386112

MAITRE_CUISTO_ROLE_ID=1506012403672940566
STAFF_ROLE_ID=
SECOND_STAFF_ROLE_ID=1495941332185780315
THIRD_STAFF_ROLE_ID=1498129393581817856
SUPPORT_ROLE_ID=1495941332177391676
ADMIN_ROLE_IDS=1495913208274485329

PAYPAL_LINK=https://www.paypal.me/SkyOress
PAYPAL_TEXT=PayPal amis/proches uniquement.\nNe rien mettre en note sous risque de refus de paiement.
REVOLUT_LINK=https://revolut.me/nadegealine
REVOLUT_TEXT=Revolut uniquement.\nNe rien mettre en note sous risque de refus de paiement.
PAYSAFE_LINK=https://www.paysafecard.com/
PAYSAFE_TEXT=Paysafecard disponible.\nEnvoie le code paysafe en MP apres paiement.
PAYMENT_CONFIRMED_MESSAGE=✅ Paiement reçu, tu vas recevoir ton suivi de livraison.

CRYPTO_PROVIDER=oxapay
OXAPAY_API_KEY=ta_cle_oxapay
OXAPAY_MERCHANT_API_KEY=ta_cle_merchant_oxapay_si_tu_utilises_ce_nom
OXAPAY_INVOICE_URL=https://api.oxapay.com/v1/payment/invoice
OXAPAY_STATUS_URL=https://api.oxapay.com/v1/payment/{track_id}
OXAPAY_CURRENCY=EUR
OXAPAY_ALLOWED_COINS=SOL,BTC,ETH
OXAPAY_LIFETIME_MINUTES=30
OXAPAY_STATUS_POLL_SECONDS=30
OXAPAY_SUCCESS_STATUS=paid
CRYPTO_SUCCESS_MESSAGE=✅ Paiement confirmé

DEFAULT_STAFF_PERCENT_RATE=50
BOT_DATA_DIR=data
TRANSCRIPTS_DIR=data/transcripts
DATABASE_PATH=data/eatzone.db

# ─── Système de vente de comptes ───────────────────────────
ACCOUNT_CATEGORY_ID=
ACCOUNT_LOG_CHANNEL_ID=
ACCOUNT_PAYMENT_LOG_ID=
FOUNDER_ROLE_IDS=
